@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Kaushan+Script');

:root {
font-family: 'Kaushan Script', cursive;
}
body {
    max-width: 100%;
    margin: auto;
}
@media (min-width: 500px) {
    header > nav {
        display: flex;
    }
}
header {
    background-color: black;
    margin: 0;
}
.language {
    float: right;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media (min-width: 500px) {
    .language {
        align-items: center;
        flex: 1;
    }
}

.language a {
    text-decoration: none;
    color: #FDBB1E;
    font-size: 1.1rem;
    padding: 10px;
}
.language a:hover {
    text-decoration: underline;
}
.logo img {
    padding: 2px;
    padding-left: 30px;
    padding-right: 30px;
}
.slogan {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #FDBB1E;
    font-size: 1.3rem;
    text-align: center;
}
.navigation {
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-shadow: 0 0 10px #fff,
}
@media (min-width: 500px) {
    .navigation {
        align-items: center;
        flex: 1;
    }
}
.navigation a {
    font-family: 'Archivo Black', sans-serif;
    text-decoration: none;
    color: #FDBB1E;
    font-size: 1.6rem;
    padding: 20px;
}

@media (min-width: 500px) {
    .navigation a:last-child {
        margin-left: auto;
    }
}
.main_content {
    background-image: url(../img/backgroundaa.jpg);
}
.wellcometext {
    margin: 0;
    padding:40px;
    font-size: 1.8rem;
    text-align: center;
}
.text {
    margin: 0;
    padding-bottom: 60px;
}
.map {
    margin:0;
    padding: 10px;
    padding-top: 0;
}
.headers {
    text-align: center;
    font-size: 2.5rem;
}
.assortment {
    border-bottom-color: 1px solid black;
    margin-bottom: 5px;
    padding-bottom: 25px;
    text-align: center;
}
.food {
    padding: 10px;
}
.assortment img {
    display: block;
    width: 100%;
}
@media (min-width: 400px) {
    .assortment {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 500px) {
    .assortment {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 880px) {
    .assortment {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1000px) {
    .assortment {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 500px) {
    footer > nav {
        display: flex;
    }
}
footer {
    background-color: black;
    margin-bottom: 0;
}
.infofooter {
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    color:#FDBB1E;
}
@media (min-width: 500px) {
    .language {
        align-items: center;
        flex: 1;
    }
}
.linkedfooter {
    margin: 0;
    padding: 5px;
}
.phone {
    margin: 0;
    padding: 20px
}
.open-hours {
    margin: 0;
    padding: 20px;
}